<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <title>Autorzy</title>
    </head>

    <body>

        <section layout:fragment="content">
            <h1>Autorzy</h1>

            <p>
                Phasellus quis quam ac urna feugiat sollicitudin. Quisque at efficitur urna. Integer et odio tempus, vehicula lectus semper, cursus enim. Quisque rutrum, turpis non faucibus auctor, erat odio posuere nisl, eget aliquam justo orci vitae metus. Sed pulvinar, massa id posuere pulvinar, ex ex semper leo, sit amet elementum lacus felis quis leo. In venenatis elit tempus risus rutrum lobortis. Ut a tortor vel erat ullamcorper vestibulum. Nunc hendrerit augue dolor, non ultrices nisl faucibus eget. Quisque sit amet luctus neque.
            </p>

        </section>
    </body>
</html>