<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Dodaj kategorię</title>
</head>
<body>
<section layout:fragment="content">

    <h1>Dodaj kategorię</h1>

    <form  th:object="${newCat}" method="post"> <!-- th:action="@{/notes/add-note}" -->

        <div class="form-group col-6">
            <label for="categoryName">Nazwa</label>
            <input th:field="*{name}" type="text" class="form-control" id="categoryName" placeholder="Podaj nazwę kategorii">
        </div>
        <button type="submit" class="btn btn-primary">Dodaj</button>

    </form>

</section>
</body>
</html>