<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Kategorie</title>
</head>
<body>
<section layout:fragment="content">

    <a th:href="@{/categories/add}" class="add-note-btn">Dodaj nową</a>

    <h1>Kategorie</h1>

    <form class="form-row-search" th:action="@{/categories}" method="get">
        <input th:type="search" id="search" name="keywords" class="form-control input-search" placeholder="Wyszukaj kategorię...">
        <button type="submit" class="btn btn-info search-btn">Szukaj</button>
    </form>

    <div class="form-row-search">
        <a class="btn btn-outline-info search-btn" style="width:100%" th:href="@{'/categories/?sortField=name&sortDir='+${reverseDir}}">Sortuj według nazwy kategorii</a>
    </div>
    <div class="note-container">

        <div th:each="c : ${categories}" class="stick-category">

            <h3 th:text="${c.name}"></h3>

            <p>
                <a th:href="@{/categories/update/{id}(id=${c.id})}" class="btn btn-info">Edytuj</a>
                <a th:href="@{/categories/delete/{id}(id=${c.id})}" class="btn btn-warning">Usuń</a>
            </p>

        </div>

    </div>
</section>
</body>
</html>