<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Dodaj notatkę</title>
</head>
    <body>
        <section layout:fragment="content">

            <h1>Dodaj notatkę</h1>

            <span class="back-align">
                <a th:href="@{/notes}" class="btn btn-primary back-btn ">Wróć</a>
            </span>

            <form  th:object="${newNote}" method="post" th:action="@{/notes/add-note}" action="#" class="form-align">
                <div class="form-group col-6">
                    <label for="noteName">Nazwa</label>
                    <input th:field="*{title}" type="text" class="form-control" id="noteName" placeholder="Podaj nazwę notatki">
                    <p class="alert alert-danger validation-alert" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error Name</p>
                </div>
                <div class="form-group  col-6">
                    <label for="noteDesc">Opis</label>
                    <textarea th:field="*{description}"type="text" class="form-control" id="noteDesc" placeholder="Opis Twojej notatki..."> </textarea>
                    <p class="alert alert-danger validation-alert" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error Name</p>
                </div>

                <div class="form-group  col-6">
                    <label >Kategoria</label>
                    <select class="form-control" th:field="*{category}" >
                        <option th:each="cat : ${noteCategory}" th:text="${cat.name}"  th:value="${cat.id}">
                        </option>
                    </select>
                </div>

                <div class="form-group  col-6">
                    <input type="checkbox" class="form-check-input m-2" th:field="*{shared}" th:text="Udostępnij" th:value="true"/>
                </div>

                <input th:type="hidden" th:field="*{owner}"/>

                <button type="submit" class="btn btn-primary submit-btn">Dodaj</button>
            </form>


        </section>
    </body>
</html>